<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="father" class="io.innofang.bean_inherit.Father">
        <property name="firstName" value="Felix"/>
        <property name="lastName" value="Fang"/>
    </bean>

    <bean id="son" class="io.innofang.bean_inherit.Son" parent="father">
        <property name="firstName" value="Inno"/>
        <property name="age" value="20"/>
    </bean>

</beans>