<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="CvsOutputGenerator" class="io.innofang.loosely_coupled.impl.CsvOutputGenerator"/>
    <bean id="JsonOutputGenerator" class="io.innofang.loosely_coupled.impl.JsonOutputGenerator"/>

    <bean id="output_helper" class="io.innofang.loosely_coupled.OutputHelper">
        <property name="outputGenerator" ref="CvsOutputGenerator"/>
    </bean>
</beans>